<!DOCTYPE html>
<html>
<head>
    <title>Rapot Siswa</title>
    <!-- Sisipkan Bootstrap CSS -->
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            font-weight: bold;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            text-align: center;
            padding: 0;
            margin: 0;
        }

        hr {
            border: 0.5px solid black;
        }

        .wali-teks {
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <div class="row align-items-center">
                <div class="col-2">
                    <img src="assets/img/logo.png" alt="Logo Sekolah">
                </div>
                <div class="col-10">
                    <p>بسم هللا الرحمن الرحيم</p>
                    <p>قائمة النتائج للمدرسة المتوسطة</p>
                    <p>Raport Penilaian Akhir Semester</p>
                    <p>Pesantren Al Irsyad Tengaran 8 Martapura</p>
                </div>
            </div>
            <hr>
        </header>
        <div class="mt-4">
            <!-- Isi laporan/rapor akan ditambahkan di sini -->
            <table class="header-bio">
                <tr>
                    <th>(7B) السابع ب</th>
                    <th>Kelas / الفصل</th>
                    <th>Ahmad Syarwani Abdan</th>
                    <th>Siswa / الطالب</th>
                </tr>
                <tr>
                    <th>Semester</th>
                    <th>Semester / السنة </th>
                    <th>No Induk</th>
                    <th>NIS</th>
                </tr>
                <tr>
                    <th>2019/2020</th>
                    <th>Tahun Ajaran / العام الدراسي</th>
                    <th>No Induk</th>
                    <th>NISN</th>
                </tr>
                <tr>
                    <td colspan="4" class="py-3" style="border: none;"></td>
                </tr>
            </table>
            <table class="table-rapor header-isi">
                <tr>
                    <th>(Rata-rata kelas) <br> الفصل</th>
                    <th>Huruf</th>
                    <th>(Nilai Santri) <br>  درجة الطالب</th>
                    <th>(Pelajaran) <br> المادة</th>
                    <th>الرقم <br> (Nomor)</th>
                </tr>
                <tr>
                    <td colspan="5">(Materi Agama) المواد الشرعية</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td colspan="5">(Materi Bahasa) المواد اللغوية</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td colspan="5">(Materi Umum) المواد العامة</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>78,5</td>
                    <td>Sembilan Puluh Sembilan</td>
                    <td>99</td>
                    <td>Matematika</td>
                    <td>20</td>
                </tr>
            </table>
            <div class="row text-center mt-5" style="font-size: 12px;">
                <div class="col-6"></div>
                <div class="col-6">01/01/2024 ،تحريرا مرتافورا</div>
            </div>
            <div class="row text-center" style="font-size: 12px;">
                <div class="col-6">ولي الطالب</div>
                <div class="col-6">ولي الفصل</div>
            </div>
            <div class="row text-center mb-5" style="font-size: 12px;">
                <div class="col-6">Wali Santri</div>
                <div class="col-6">Wali Kelas</div>
            </div>
            <div class="row text-center mt-3" style="font-size: 12px;">
                <div class="col-6 hr-container">
                    <hr class="hr-short">
                </div>
                <div class="col-6 hr-container">
                    <hr class="hr-short">
                </div>
            </div>
        </div>
    </div>
    <!-- Sisipkan Bootstrap JS (Opsional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
